html.scrollSnap {
  .full-vh {
    min-height: 100vh !important;
    padding-top: @navigation-height;
    padding-bottom: @navigation-height;
  }

  @media all and (min-width: @device-width-small) {
    .article__inner,
    .block__inner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .block:not(.no-full-vh) {
      .component__container {
        .full-vh;
        align-items: center;
      }
    }

    .has-background-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
