html.scrollSnap {
  @ios-address-height: 64px;

  .full-vh {
    min-height: calc(100vh - @navigation-height) !important;
    padding-top: @navigation-height;
    padding-bottom: @navigation-height;
  }

  @media all and (min-width: @device-width-small) {
    .article__inner,
    .block__inner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .block:not(.no-full-vh) {
      .component__container {
        .full-vh;
        align-items: center;
      }
    }

    &.no-navigation-offset {
      .block:not(.no-full-vh) {
        .component__container {
          min-height: 100vh !important;
          margin: 0 auto;
        }
      }
    }

    &.os-ios {
      .block:not(.no-full-vh) {
        .component__container {
          min-height: calc(100vh - @ios-address-height - @navigation-height) !important;
        }
      }
    }

    &.os-ios.no-navigation-offset {
      .block:not(.no-full-vh) {
        .component__container {
          min-height: calc(100vh - @ios-address-height) !important;
        }
      }
    }

    .has-background-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
