<div class="scrollsnap__btn-container"> 

  <button class="btn-text scrollsnap__btn">
    {{!-- <div class="icon"></div> --}}
    
    <div class="scrollsnap__btn-text">
      {{{label}}}
    </div>
  </button>

</div>
